/*
* Footer-Bereich
*/
.footer {
    background-color: #768fc5;
    text-align: center;
    font-weight: lighter;

    p {
        color: white;
    }

    a {
        color: white;
        text-decoration: none;
    }
}

.footer-hr {
    margin-top: 0px;
    margin-bottom: 25px;
}
